*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ServletMVC/target/
/Rectangles/target/
/RestHW/target/
/RestCRUD/target/
/RestCRUDClient/target/
/MVCJSP/target/
/CustomersJSF/CustomersJSF/target/
/ArraySet/target/
/CustomersJSFx/CustomersJSF/target/
/CustomersJSF/target/
/CustomersCDI/target/
/CustomersMustache/target/
/CustomersEJB/target/